<!DOCTYPE html>
<html lang="en">
  <head>
    <title> NFL </title>
    <link rel="stylesheet" href="/style.css"/>
  </head>

  <body>
  <h1>
  <%= @league %>
  </h1>

  <ul>
    <li><a href="../<%= (@board.downcase.gsub(' ','')) %>"><%= @board %></a></li>
  </ul>





  </body>
  </html>

