<!DOCTYPE html>
<html lang="en">
  <head>
    <title> NFL </title>
    <link rel="stylesheet" href="/style.css"/>
  </head>

  <body>
  <h1>
    NFL
  </h1>

  <ul>
    <li><a href="/leaderboard">Leader Board</a></li>
  </ul>





  </body>
  </html>
